<table>
	<tr>
		<th>Name</th>
		<th>Company Name</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th>Email Address</th>
		<th>Attending?</th>
		<th>Comments</th>
	</tr>
	
	<% users.forEach(function(user, index) { %>
	    <tr>	
	    	<td><%= user.name %></td>
			<td><%= user.company %></td>
			<td><%= user.address %></td>
			<td><%= user.phoneNumber %></td>
			<td><%= user.email %></td>
			<td><%= user.attendance %></td>
			<td><%= user.comment %></td>
		</tr>
	<% }); %>
</table>